
.row-header{
  height: 200px;
  padding:10px;
  padding-top: 20px;


}

.timer_div{
	text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}


#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	padding: 2px;
	border-radius: 2px;
	background: black;

	display: inline-block;
}

#clockdiv div > span{
	padding: 3px;
	border-radius: 2px;
/*	background: #00816A;
*/
  display: inline-block;
}

.smalltext{
	padding-top: 3px;
	font-size: 15px;
  background: black;
}

.container{
	width: 100%;
	height: 100vh;

	background-image: url('../images/Stars2.jpg');
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;

}

.row1-header {
	margin: 15px;
	text-align: center;
}

.logo-image {
	height: 200px;
	width: 280px;
	display: inline-block;
}

